<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="clr">

  <xacro:include filename="$(find clr_moveit_config)/srdf/clr_macro.srdf.xacro"/>
  <xacro:include filename="$(find clr_moveit_config)/srdf/mockups_macro.srdf.xacro"/>

  <xacro:clr/>
  <xacro:mockups/>

</robot>
