<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="endeff_stack" params="
        tf_prefix
        parent
        *origin
    ">

    <joint name="${tf_prefix}endeff_stack_base_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="${tf_prefix}mtc_robot_side"/>
        <xacro:insert_block name="origin"/>
    </joint>

    <link name="${tf_prefix}mtc_robot_side">
        <visual>
            <geometry>
                <mesh filename= "file://$(find chonkur_description)/meshes/visual/mtc_robot_side.dae"/>
            </geometry>
        </visual>
    </link>

    <joint name="${tf_prefix}mtc_robot_to_effector_side_joint" type="fixed">
        <parent link="${tf_prefix}mtc_robot_side"/>
        <child link="${tf_prefix}mtc_effector_side"/>
        <origin xyz="0 0 0.008763" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}mtc_effector_side">
        <visual>
            <geometry>
                <mesh filename= "file://$(find chonkur_description)/meshes/visual/mtc_effector_side.dae"/>
            </geometry>
        </visual>
    </link>

    <joint name="${tf_prefix}mtc_effector_side_to_realsense_mount" type="fixed">
        <parent link="${tf_prefix}mtc_effector_side"/>
        <child link="${tf_prefix}ur_realsense_mount"/>
        <origin xyz="0 0 0.023684" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}ur_realsense_mount">
        <visual>
            <geometry>
                <mesh filename= "file://$(find chonkur_description)/meshes/visual/ur_realsense_mount.dae"/>
            </geometry>
        </visual>
    </link>

    <!-- Realsense camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <xacro:sensor_d435 parent="${tf_prefix}ur_realsense_mount" use_nominal_extrinsics="true" use_mesh="true">
        <origin xyz="-0.065 -0.006 0.010" rpy="0.048 -1.392 -0.047"/>
    </xacro:sensor_d435>

    <joint name="${tf_prefix}realsense_mount_to_hand-e_adapter" type="fixed">
        <parent link="${tf_prefix}ur_realsense_mount"/>
        <child link="${tf_prefix}robotiq_hand-e_adapter_old"/>
        <origin xyz="0 0 0.003" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}robotiq_hand-e_adapter_old">
        <visual>
            <geometry>
                <mesh filename= "file://$(find chonkur_description)/meshes/visual/robotiq_hand-e_adapter_old.dae"/>
            </geometry>
        </visual>
    </link>

    </xacro:macro>
</robot>