<?xml version="1.0"?>

<!-- clr_carriage.macro.xacro forms the robot description for the rail coupling carriage used by clr_description -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="clr_carriage" params="
    tf_prefix:=''
    parent:=world
    *origin
    ">

        <joint name="${tf_prefix}clr_carriage_base_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${tf_prefix}clr_carriage"/>
            <xacro:insert_block name="origin"/>
        </joint>

        <link name="${tf_prefix}clr_carriage">
            <visual>
                <geometry>
                    <mesh filename= "package://clr_description/meshes/visual/clr_carriage.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 -0.0005 0.0225" rpy="0 0 0"/>
                <geometry>
                    <box size="0.403 0.404 0.045"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.182 0.203 0.137" rpy="0 0 0"/>
                <geometry>
                    <box size="0.049 0.281 0.184"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.0220 0.276 0.157" rpy="0 0 0"/>
                <geometry>
                    <box size="0.359 0.135 0.0890"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>

</robot>
