<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="lift_camera" params="
        tf_prefix:=''
        parent:=world
        *origin
    ">

    <joint name="${tf_prefix}lift_camera_mount_base_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="${tf_prefix}lift_camera_mount"/>
        <xacro:insert_block name="origin"/>
    </joint>

    <!-- TODO Get mesh of mount, as well as mesh of the cable management block that mounts on -->
    <link name="${tf_prefix}lift_camera_mount">
        <visual>
            <geometry>
                <mesh filename= "package://clr_description/meshes/visual/lift_camera_mount.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.145 0.15 0.01135"/> <!--meters -->
            </geometry>
        </collision>
    </link>

    <!-- TODO Fix the origin -->
    <!-- Realsense camera -->
    <xacro:property name="realsense_materials_defined" default="false" />
    <xacro:unless value="${realsense_materials_defined}">
        <xacro:property name="realsense_materials_defined" value="true" />
    </xacro:unless>  <!--Avoid Error   material 'aluminum' is not unique.-->

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" ns="lift_camera_ns"/>
    <xacro:lift_camera_ns.sensor_d435 parent="${tf_prefix}lift_camera_mount" use_nominal_extrinsics="true" use_mesh="true" name="lift_camera">
        <origin xyz="0.064 -0.006 -0.016" rpy="0 0 0"/>
    </xacro:lift_camera_ns.sensor_d435>

    </xacro:macro>
</robot>